= stylesheet_link_tag "offense"

%h2.float_left.left_padding
  List of Offenses

#offense_list
  %table
    %tr
      %th
        Offense Name
      %th
        Type
      %th
        Severity
      %th
        Description
      - if current_user && current_user.admin?
        %th
          Edit
          \/
          Delete
    - @offenses.each do |offense|
      %tr{class: cycle("alternating", nil)}
        %td
          = link_to offense.name, offense_path(offense.id)
        %td
          = offense.classification
        %td
          = offense.severity
        %td
          = offense.description
        - if current_user && current_user.admin?
          %td
            = link_to "Edit", edit_offense_path(offense)
            \/
            = link_to "Delete", offense, confirm: "Are you sure?", method: :delete
  - if current_user && current_user.admin?
    = link_to "Add New Offense", new_offense_path, class: "float_left left_padding top_padding"



