= stylesheet_link_tag "server"

#server_form
  %h2
    New Server
  - if @server.errors
    = error_messages_for @server
  = form_for @server, :url => {:controller => :server, :action => :create}, :html => {:method => :post} do |s|
    %ul
      %li.left_side
        Name:
      %li.right_side
        = s.text_field :name
    %ul
      %li.left_side
        Server IP:
      %li.right_side
        = s.text_field :ip_address
    %ul
      %li.left_side
        Port:
      %li.right_side
        = s.text_field :port
    %ul
      %li.left_side
        Description:
      %li.right_side
        = s.text_area :description
    %ul
      %li.left_side
        - # Save
      %li.right_side
        = s.submit "Save!"
